/*Para comentar una seleccion es ctrl k + ctrl u*/
/*Estos son los parametros generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*bodys lo hice haci porque cuando puse bootstrap cambio todo*/
#body-index{
    color: #081304;
    background-color: #E3F26D;

}
#body-cursos{
    color: #081304;
    background-color: #E3F26D;

}
#body-poligono{
    color: #081304;
    background-color: #E3F26D;

}
#body-gestoria{
    color: #081304;
    background-color: #E3F26D;
}
#BodyNosotros{
    color: #112607;
    background-color: #E3F26D;
}
/*Aqui trabajamos el HEADER lo defino como una class*/

.header {
    background-color: #2C4018;
    color: #b3ce5a;
    margin: 1%;
    padding: 2% 2% 2% 0%;
    display: flex;/*Activamos el Flexbox*/
    flex-direction: row; /* Comienza apilando los elementos verticalmente */
    align-items: center/*centramos los elementos verticalmetne*/;
    justify-content: space-around; /* Distribuimos el espacio: la imagen a la izquierda, el nav a la derecha, y el h1 en el centro */
    text-align: center;/*Asegura que el texto dentro del h1 ete centrado*/
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px black ;  
}
.header-logo-glock, .header-nav, div {
    flex: 0,5 2 0,5; /* Esto da a cada elemento la capacidad de expandirse y ocupar espacio, con énfasis en el div del h1 */
    padding: 0 10px; /* Añade un poco de espacio alrededor para evitar que los elementos se toquen */
    /*Aqui le puse el estilo que baje de google*/
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
}
#header-logo-glock {
    width: 300px; /* O el tamaño que prefieras */
    height: auto; /* Mantiene la proporci*/
} 
.header-title-page {
    white-space: normal; /* Asegura que el texto del h1 pueda pasar a la siguiente línea si es necesario */
}
/*Aqui voy a cambiar la fuente de los nav-link del nav de bootstrap */

nav .navbar-nav .nav-link,
nav .navbar-nav .nav-link.active { /* Esto cubre tanto los enlaces normales como el activo */
    color: #b3ce5a;
}
/*Con esto le cambie el color al icono de la hamburguesa */
.navbar-toggler-icon {
   
    background-color: #b3ce5a;
   
}

.dropdown-menu .dropdown-item {
    color: #b3ce5a; /* Cambia el color de la fuente a un verde claro */
    background-color: #2C4018; /* Cambia el color de fondo a un verde oscuro */
}
.dropdown-menu .dropdown-item:hover {
    background-color: #3e5c2a; /* Un verde ligeramente más claro para el efecto hover */
}
/******************************Nosotrs **************/



#BodyNosotros main {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    margin: 100px;   
    flex-wrap: wrap;  
}
/*Esto alinea el texto al centro*/
#BodyNosotros main .Textos {
    text-align: center;
}
/*deja un margen para que no quede peguado*/
#BodyNosotros main .Textos  h2  {
    margin: 10px;     
}
/*  cambiar su comportamiento de visualización de en línea (inline) a bloque (block), o viseversa */
#BodyNosotros main .Textos h2 span {
    display: block;
}
/*Esto le da formato al boton */
#BodyNosotros main .Textos .Boton {
    margin: 10px;
    background-color: #112607;
    padding: 10px;
    color: #b3ce5a;
    display: inline-block;
    box-shadow: 5px 5px 10px black ;
       
}
/*Aqui quiero definir el  tamano y usar el hover */
#BodyNosotros main .Imagen {
    width: 300px;     
 }
 #BodyNosotros main .Imagen img:hover {
     width: 400px;     
  }
/*Damos formato a la ultima seccion*/
#BodyNosotros section {
    background-color: #2C4018;
    color: #b3ce5a;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 1%;   
    padding: 20px;  
    box-shadow: 5px 5px 15px black ;
    flex-wrap: wrap;
}
/*Le doy tamaño a cada div de la seccion*/
#BodyNosotros section div {
    width: 500px;
}
/*Le doy tamaño a cada imagen*/
#BodyNosotros section div img {
    width: 200px;
}


#BodyNosotros section div {
    text-align: center; 
}
#BodyNosotros footer {
    margin-top: 20 px;
    text-align: center; 
}
/******************************PRODUCTOS********************************/
#BodyProductos {
    color: #112607;
    background-color: #E3F26D;
}
#BodyProductos .GridConteinter {
    border: 3px solid #112607;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    /*Esto lo centra atento Paul el add hay que ver como le damos espacio*/
    justify-content: center; 
   
    /*grid-template-rows: repeat(5, 100px);*/
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(7, auto);
    margin-bottom: 10px;
}
#BodyProductos .grid-item {
    border: 1px solid #112607;
    
}
#BodyProductos .ProductoSection {
    display: flex;
}
/*Esto le da el tamaño a la imagen*/
#BodyProductos .ProductoImagen img {
    width: 300px;
    height: 225px;
}
/*Esto usa hver para agrandar las imagenes */
#BodyProductos .ProductoImagen img:hover{
    width: 500px;
    height: 425px;
}
#BodyProductos .ProductoImagenTexto {
    width: 280px;
    margin: 20px;
}
#BodyProductos .adds{
    grid-column: 3/3;
    grid-row: 1/7;
}
/*media cuerry para el heder*/
@media (min-width: 1024px) { /* Ajusta según tu punto de interrupción deseado para escritorio */
   
    
}


/* Pantallas de tablet (por ejemplo, anchos de 768px o más) */
/* Pantallas de tablet (por ejemplo, anchos de 768px o más) */
@media (min-width: 768px) and (max-width: 1024px) {
   
    .header-nav, #header-logo-glock {
        order: 2; /* Mueve el logo y el menú al inicio */
    }
    .header-titulo-pagina {
        order: -1; /* Asegura que el título quede al final */
    }
}/


/* Pantallas de móvil (por ejemplo, menos de 768px) */
@media (max-width: 767px) {
    .header-nav {
        order: -1; /* Mueve el menú al inicio */
    }
    #header-logo-glock {
        order: 1; /* Mantiene el logo en el medio */
    }
    .header-titulo-pagina {
        order: 2; /* El título queda al final */
    }
}


