@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body-index {
  color: #081304;
  background-color: #E3F26D;
}
#body-index #carouselExampleCaptions .carousel-item img {
  height: 500px; /* Ajusta a la altura deseada */
  object-fit: cover; /* Mantiene el aspecto de la imagen */
}
#body-index #carouselExampleCaptions .carousel-caption h5 {
  color: #E3F26D; /* Cambia el color */
  font-size: 50px; /* Cambia el tamaño de la fuente */
  font-weight: bold; /* Hace el texto negrita */
  text-shadow: 1px 1px 0 black; /* Sombra del texto para hacerlo parecer más ancho */
  background-color: rgba(44, 64, 24, 0.5); /* Verde oscuro con 50% de transparencia */
  padding: 5px; /* Añade espacio alrededor del texto */
}
#body-index #carouselExampleCaptions .carousel-caption p {
  color: #E3F26D; /* Cambia el color */
  font-size: 40px; /* Cambia el tamaño de la fuente */
  font-weight: bold; /* Hace el texto negrita */
  text-shadow: 1px 1px 0 black; /* Sombra del texto para hacerlo parecer más ancho */
  background-color: rgba(44, 64, 24, 0.5); /* Verde oscuro con 50% de transparencia */
  padding: 5px; /* Añade espacio alrededor del texto */
}
#body-index #carouselExampleCaptions .carousel-caption a {
  color: #E3F26D; /* Cambia el color */
  font-size: 20px; /* Cambia el tamaño de la fuente */
  font-weight: bold; /* Hace el texto negrita */
  text-shadow: 1px 1px 0 black; /* Sombra del texto para hacerlo parecer más ancho */
  background-color: rgba(44, 64, 24, 0.5); /* Verde oscuro con 50% de transparencia */
  padding: 5px; /* Añade espacio alrededor del texto */
}

#BodyNosotros {
  color: #081304;
  background-color: #E3F26D;
}
#BodyNosotros main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px;
  flex-wrap: wrap;
}
#BodyNosotros main .Textos {
  text-align: center;
}
#BodyNosotros main .Textos h2 {
  margin: 10px;
}
#BodyNosotros main .Textos h2 span {
  display: block;
}
#BodyNosotros main .Textos .Boton {
  margin: 10px;
  background-color: #112607;
  padding: 10px;
  color: #b3ce5a;
  display: inline-block;
  box-shadow: 5px 5px 10px black;
}
#BodyNosotros main .Imagen {
  width: 300px;
}
#BodyNosotros main .Imagen img:hover {
  width: 400px;
}
#BodyNosotros section {
  background-color: #2C4018;
  color: #b3ce5a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
  padding: 20px;
  box-shadow: 5px 5px 15px black;
  flex-wrap: wrap;
}
#BodyNosotros section div {
  width: 500px;
  text-align: center;
}
#BodyNosotros section div img {
  width: 200px;
}
#BodyNosotros footer {
  margin-top: 20px;
  text-align: center;
}

#BodyProductos {
  color: #081304;
  background-color: #E3F26D;
}
#BodyProductos .grid-item {
  border: 1px solid #081304;
}
#BodyProductos .ProductoSection {
  display: flex;
}
#BodyProductos .ProductoImagen img {
  width: 300px;
  height: 225px;
}
#BodyProductos .ProductoImagen img:hover {
  width: 500px;
  height: 425px;
}
#BodyProductos .ProductoImagenTexto {
  width: 280px;
  margin: 20px;
}
#BodyProductos .adds {
  grid-column: 3/3;
  grid-row: 1/7;
}

/*media cuerry para el heder*/
@media (min-width: 1024px) { /* Ajusta según tu punto de interrupción deseado para escritorio */
  #BodyProductos .GridConteinter {
    border: 3px solid #081304;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    /*Esto lo centra atento Paul el add hay que ver como le damos espacio*/
    justify-content: center;
    /*grid-template-rows: repeat(5, 100px);*/
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(7, auto);
    margin-bottom: 10px;
  }
}
/* Pantallas de móvil (por ejemplo, menos de 768px) */
@media (max-width: 767px) {
  .header-nav {
    order: -1; /* Mueve el menú al inicio */
  }
  #header-logo-glock {
    order: 1; /* Mantiene el logo en el medio */
  }
  .header-titulo-pagina {
    order: 2; /* El título queda al final */
  }
}
@media (max-width: 767px) {
  #BodyProductos .GridConteinter {
    display: flex; /* Activa Flexbox para el contenedor */
    flex-direction: column; /* Organiza los ítems en una columna */
  }
}
#body-poligono {
  color: #081304;
  background-color: #E3F26D;
}

header {
  display: flex; /*Activamos el Flexbox*/
  flex-direction: row; /* Comienza apilando los elementos verticalmente */
  align-items: center;
  justify-content: space-around; /* Distribuimos el espacio: la imagen a la izquierda, el nav a la derecha, y el h1 en el centro */
  text-align: center; /*Asegura que el texto dentro del h1 ete centrado*/
  flex-wrap: wrap;
  background-color: #2C4018;
  color: #b3ce5a;
  margin: 1%;
  padding: 2% 2% 2% 0%;
  box-shadow: 5px 5px 15px black;
}

.header {
  display: flex; /*Activamos el Flexbox*/
  flex-direction: row; /* Comienza apilando los elementos verticalmente */
  align-items: center;
  justify-content: space-around; /* Distribuimos el espacio: la imagen a la izquierda, el nav a la derecha, y el h1 en el centro */
  text-align: center; /*Asegura que el texto dentro del h1 ete centrado*/
  flex-wrap: wrap;
  /*Aqui voy a cambiar la fuente de los nav-link del nav de bootstrap */
  /*Con esto le cambie el color al icono de la hamburguesa */
}
.header #logo-glock {
  flex: 0, 5 2 0, 5;
  padding: 0 10px;
  width: 300px;
  height: auto;
}
.header .navegador {
  flex: 0, 5 2 0, 5;
  padding: 0 10px;
}
.header .titulo-pagina {
  flex: 0, 5 2 0, 5;
  padding: 0 10px;
  font-family: "Kode Mono", monospace;
  font-size: 60px; /* Ajusta este valor al tamaño que prefieras */
  font-weight: bold; /* Hace el texto más grueso */
  white-space: normal; /* Permite que el título se ajuste en varias líneas si es necesario */
}
.header nav .navbar-nav .nav-link,
.header nav .navbar-nav .nav-link.active { /* Esto cubre tanto los enlaces normales como el activo */
  color: #E3F26D;
}
.header .navbar-toggler-icon {
  background-color: #b3ce5a;
}
.header .dropdown-menu .dropdown-item {
  color: #b3ce5a; /* Cambia el color de la fuente a un verde claro */
  background-color: #2C4018; /* Cambia el color de fondo a un verde oscuro */
}
.header .dropdown-menu .dropdown-item:hover {
  background-color: #3e5c2a; /* Un verde ligeramente más claro para el efecto hover */
}

/*# sourceMappingURL=style.css.map */
