@import "utilities/colors";
@import "utilities/variables";
@import "utilities/mixin";
#body-poligono  {
    color: $Text-color1;
    background-color: $BG-color;
    .grid-container-rows {
        @include grid-display-rows($num-rows, $gap);
        .grid-item {
            background-color: $BG-color;
            border: 1px solid darken(black, 20%);
            padding: 20px;
            text-align: center;
            .grid-container-column {
                @include grid-display-columns($num-cols, $gap);
                .img1 { transition : transform 0.5s ease;
                display: block;}
                .img1:hover { transform: rotate(180deg);
                }
                .gradiente-lineal { transition : transform 0.5s ease;
                    display: block; 
                }
                .gradiente-lineal:hover { 
                    width: 400px;
                    height: 150px;
                    background-image: linear-gradient(to top, rgb(58, 209, 27), rgb(72, 90, 70));
                }
                .gradiente-left {
                    transition : transform 0.5s ease;
                    display: block;
                    }
                .gradiente-left:hover { 
                    width: 800px;
                    height: 150px;
                     background-image: linear-gradient(to left, rgb(58, 209, 27), rgb(72, 90, 70));
                }
                .img4 { transition : transform 0.5s ease;
                    display: block;}
                .img4:hover { transform: translateX(-400px);
                    }
                           
            }
        }
    }
}