
$BG-color:  #E3F26D;
$Header-bg-color: #2C4018;
$Header-color:#b3ce5a;
$Shadow-color: black;
$Text-color1: #081304;
$Boton-BG-color:#112607;
$background-color-hover: #3e5c2a;
$background-color-text: rgba(44, 64, 24, 0.5);
