$Titulo-size:60px;
$Imagen-Body-Nosotros: 300px;
$Imagen-Body-Nosotros-hover: 400px;
$Div-width-Body-Nosotros: 500px;
$Div-img-Body-Nosotros: 200px;
$Imagen-Body-Nosotros-hover: 350px;
$Div-width-Body-Nosotros: 300px;
$Div-img-Body-Nosotros: 100px;
$Footer-Body-Nosotros: 20px;
$row-column-grap:10px;
$Producto-Imagen-BodyProductosW:300px;
$Producto-Imagen-BodyProductosH:225px;
$Producto-Imagen-BodyProductosW-hover:500px;
$Producto-Imagen-BodyProductosH-hover:425px;
$Producto-Imagen-BodyProductosW-hover:360px;
$Producto-Imagen-BodyProductosH-hover:285px;
$Producto-Imagen-TextoProductosW:280px;
$Producto-Imagen-TextoProductosH:20px;
// datos para grid display
$num-rows: 3;   // Número de filas
$gap: 20px;     // Espaciado entre elementos
$num-cols: 3;  // Número de columnas